:root {
    --primary-bgc: #e2e8f0;
    --sidebar-bgc: #0ea5e9;
    --header-bgc: #f8fafc;
    --sidebar-icon-color: #f8fafc;
    --sidebar-text-color: #f8fafc;
    --action-btn-color: #0ea5e9;
    --action-text-color: #f8fafc;
    --card-accent-color: #fbbf24;
    --card-text-color: #4b5563;
    --action-btn-hover: #0369a1;
    --animation: all 300ms ease;
}

@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('./fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, ul, p, button {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

body {
    font-family: "roboto-regular", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.7;
    background-color: var(--primary-bgc);
    letter-spacing: 0.1rem;
}

.container {
    display: grid;
    grid-template-columns: 22% 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--sidebar-bgc);
    padding: 20px;
    color: var(--sidebar-text-color);
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    gap: 60px;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-logo {
    width: 58px;
    height: 58px;
    fill: var(--sidebar-icon-color);
}

.title-text {
    font-size: 1.9rem;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar-list li {
    position: relative;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    gap: 28px;
    padding-left: 10px;
    font-family: 'robotobold';
    font-size: 1.6rem;
}

.sidebar-list-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--sidebar-text-color);
    transition: var(--animation);
}

.sidebar-list-item:hover::after,
.sidebar-list-item:focus::after {
    width: 100%;
}

.sidebar-icon {
    fill: var(--sidebar-icon-color);
    width: 30px;
    height: 30px;
}

.header {
    grid-area: header;
    background-color: var(--header-bgc);
    padding: 16px 54px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    box-shadow: 0px 9px 9px -4px rgba(0,0,0,0.31);
}

.header > div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-icon {
    width: 28px;
    height: 28px;
}

.label-hidden {
    visibility: hidden;
    position: absolute;
}

.header input {
    width: 520px;
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
    background-color: var(--primary-bgc);
}

.notification-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
    justify-content: flex-end;
}

.notification-icon {
    width: 24px;
    height: 24px;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-link {
    display: flex;
    align-items: center;
    gap: 22px;
}

.user-name {
    font-family: "robotobold";
    font-size: 1.2rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info p {
    font-family: "robotobold";
}

.user-avatar-big {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.action-buttons {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    font-family: "robotobold";
}

.action-btn {
    background-color: var(--action-btn-color);
    color: var(--action-text-color);
    padding: 12px 0;
    border-radius: 20px;
    width: 110px;
    transition: var(--animation);
}

.action-btn:hover,
.action-btn:focus {
    background-color: var(--action-btn-hover);
}

.main {
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: 2fr 0.6fr;
    gap: 20px;
}

.main-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
}

.main-card {
    background-color: var(--header-bgc);
    border-radius: 12px;
    padding: 30px 30px;
    border-left: 10px solid var(--card-accent-color);
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
}

.card-title {
    font-family: "robotobold";
    font-size: 1.2rem;
} 

.main-card p {
    color: var(--card-text-color);
    margin-bottom: 20px;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
}

.card-icon {
    width: 26px;
    height: 26px;
    transition: var(--animation);
}

.card-icon:hover,
.card-icon:focus {
    fill: var(--action-btn-hover);
}

.aside-wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    gap: 40px;
}

.announcements-content {
    background-color: var(--header-bgc);
    padding: 10px 30px;
    border-radius: 12px;
}

.announcements-item {
    font-size: 0.7rem;
    color: var(--card-text-color);
    padding: 20px 0;
}

.announcements-item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.announcements-item h4 {
    font-size: 0.9rem;
    color: black;
}

.aside-title {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.trending-content {
    background-color: var(--header-bgc);
    padding: 30px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.trending-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name {
    font-family: "robotobold";
    font-size: 0.9rem;
    color: black;
}

.project-name {
    font-size: 0.8rem;
    color: var(--card-text-color);
}